
@(bookForm: Form[Book])

@import helper._
@implicitFieldConstructor = @{FieldConstructor(twitterBootstrapInput.render)}

@main{
<h1>Add a book</h1>
@form(routes.Application.saveBook()){
<fieldset>

    @inputText(bookForm("name"), '_label ->"Book Name", '_help-> "")
    @inputText(bookForm("category"), '_label -> "Category", '_help-> "")
    @inputText(bookForm("publisher"), '_label -> "Publisher", '_help-> "")
    @inputText(bookForm("publishedYear"), '_label -> "Published Year", '_help->"")
    @inputText(bookForm("author"), '_label -> "Author", '_help->"")
    @inputText(bookForm("ISBN"), '_label -> "ISBN", '_help->"")
    @inputText(bookForm("language"), '_label -> "Language", '_help->"")
    @inputText(bookForm("description"), '_label -> "Description", '_help->"")
</fieldset>

<div class="actions">
    <input type="submit" value="Add this book" class="btn primary"> or
    <a href="@routes.Application.bookList()" class="btn">Cancel</a>
</div>
}
}

